@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";
@import "themes/orange.scss";

.app {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.app_redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--light-bg-redesigned);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--icon-redesigned);
    border-radius: 20px;
}

.app *::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

.app *::-webkit-scrollbar-track {
    background: var(--bg-color);
}

.app *::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}
