@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";
@import "themes/orange.scss";

.app,
.app_modal,
.app_drawer {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}
