.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin-top: 0;
}

.options {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 1000;
    box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
}

.item {
    padding: 10px 20px;
}
