.Code {
    border: 1px solid var(--accent-redesigned);
    border-radius: 15px;
    padding: 20px;
    position: relative;
    background: var(--light-bg-redesigned);
    overflow: auto;
}

.copyBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}
