.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 10px 15px;
}

.clear,
.clearInverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.borderRadius {
    border-radius: 10px;
}

.borderRadius_left {
    border-radius: 10px 0 0 10px;
}

.borderRadius_right {
    border-radius: 0 10px 10px 0;
}

.borderRadius_top {
    border-radius: 10px 10px 0 0;
}

.borderRadius_bottom {
    border-radius: 0 0 10px 10px;
}

.nonBorderRadius {
    border-radius: 0;
}

.disabled {
    opacity: 0.5;
}
