.item {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
    transition: 0.5s opacity;
    white-space: pre;
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0.5s opacity;
        width: 0;
    }
}

.itemRedesigned {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.collapsedRedesigned {
    padding: 0 8px;

    .link {
        opacity: 0;
        width: 0;
        margin: 0;
    }
}

.active {
    background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
    position: relative;
    border-left: solid var(--accent-redesigned);
}
