.item {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
    transition: 0.3s opacity;
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0.3s opacity;
        width: 0;
    }
}
