.menu {
    background: var(--card-bg);
    position: absolute;
    z-index: 1000;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    flex-direction: column;
    display: flex;
    box-shadow: 3px 3px 6px;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}
