.popup {
    position: relative;
}

.menu {
    border-radius: 16px;
    border: 1px solid var(--accent-redesigned);
    overflow: hidden;
}

.active {
    background: var(--light-bg-redesigned);
}

.disabled {
    opacity: 0.7;
}

.optionsTopLeft {
    bottom: 100%;
    right: 100%;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.trigger {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}
