.app.dark {
    --bg-color: rgb(31, 31, 54);
    --inverted-bg-color: rgba(211, 211, 211, 0.959);

    --primary-color: rgb(0, 161, 0);
    --secondary-color: rgb(0, 230, 0);
    --inverted-primary-color: rgb(22, 0, 122);
    --inverted-secondary-color: rgb(12, 48, 209);
}
