.app_dark_theme {
    --bg-color: rgb(31 31 54);
    --inverted-bg-color: rgb(150 150 150 / 78.1%);
    --primary-color: rgb(0 161 0);
    --secondary-color: rgb(0 230 0);
    --inverted-primary-color: rgb(22 0 122);
    --inverted-secondary-color: rgb(12 48 209);

    /* Skeleton */
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    /* Code */
    --code-bg: #001223;

    /* Card */
    --card-bg: rgb(6 6 87);
}
