:root {
    --bg-color: rgb(211 211 211 / 95.9%);
    --inverted-bg-color: rgb(31 31 54);
    --primary-color: rgb(22 0 122);
    --secondary-color: rgb(12 48 209);
    --inverted-primary-color: rgb(0 161 0);
    --inverted-secondary-color: rgb(0 230 0);

    /* Redesigned */
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #eff5f6;
    --light-bg-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --accent-cancel-redesigned: #f12929;
    --accent-save-redesigned: #4bf07a;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00c8ff;

    /* Skeleton */
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    /* Code */
    --code-bg: #fff;

    /* Card */
    --card-bg: rgb(175 175 175);

    /* ListBox */
    --listbox-bg: rgb(175 175 175);
}
