:root {
    --bg-color: rgb(211 211 211 / 95.9%);
    --inverted-bg-color: rgb(31 31 54);
    --primary-color: rgb(22 0 122);
    --secondary-color: rgb(12 48 209);
    --inverted-primary-color: rgb(0 161 0);
    --inverted-secondary-color: rgb(0 230 0);

    /* Skeleton */
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    /* Code */
    --code-bg: #fff;

    /* Card */
    --card-bg: rgb(175 175 175);

    /* ListBox */
    --listbox-bg: rgb(175 175 175);
}
