.app_orange_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #b65011;
    --primary-color: #91180d;
    --secondary-color: #cf7712;
    --inverted-primary-color: #fbf7f4;
    --inverted-secondary-color: #91180d;

    /* Redesigned */
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --accent-cancel-redesigned: #f12929;
    --accent-save-redesigned: #4bf07a;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    /* Skeleton */
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    /* Code */
    --code-bg: #fff;

    /* Card */
    --card-bg: rgb(218 218 218);

    /* ListBox */
    --listbox-bg: rgb(218 218 218);
}
