.app_orange_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #b65011;
    --primary-color: #91180d;
    --secondary-color: #cf7712;
    --inverted-primary-color: #fbf7f4;
    --inverted-secondary-color: #91180d;

    /* Redesigned */
    --dark-bg-redesigned: #FFF3D6;
    --bg-redesigned: #F0C048;
    --light-bg-redesigned: #F2D791;
    --text-redesigned: #1B1311;
    --hint-redesigned: #B8B2A2;
    --cancel-redesigned: #FF5E5E;
    --save-redesigned: #52FA81;
    --icon-redesigned: #4875F0;
    --accent-redesigned: #1D59FF;

    /* Skeleton */
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    /* Code */
    --code-bg: #fff;

    /* Card */
    --card-bg: rgb(218 218 218);

    /* ListBox */
    --listbox-bg: rgb(218 218 218);
}
