.app_orange_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #b65011;
    --primary-color: #91180d;
    --secondary-color: #cf7712;
    --inverted-primary-color: #fbf7f4;
    --inverted-secondary-color: #91180d;

    /* Skeleton */
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    /* Code */
    --code-bg: #fff;

    /* Card */
    --card-bg: rgb(218 218 218);

    /* ListBox */
    --listbox-bg: rgb(218 218 218);
}
