.menu {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 1000;
    flex-direction: column;
    display: flex;
    box-shadow: 1px 1px 2px;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--text-redesigned);
    cursor: pointer;
}
