.addonLeft,
.addonRight {
    display: flex;
}

.addonLeft svg,
.addonRight svg {
    fill: var(--hint-redesigned);
}

.Button {
    cursor: pointer;
    color: var(--text-redesigned);
    padding: 8px 16px;
    display: flex;
    align-items: center;

    &:hover {
        color: var(--accent-redesigned);

        .addonLeft svg,
        .addonRight svg {
            fill: var(--accent-redesigned);
        }
    }
}

.withAddon {
    padding: 0 16px;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.filled {
    background: var(--light-bg-redesigned);
    border-radius: 34px;
    border: none;
    outline: none;
}

.square {
    padding: 0;
}

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned);
}

.xl {
    font: var(--font-xl-redesigned);
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}
