.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 14px;
    box-shadow: 4px 4px 8px var(--listbox-bg);
}

.loading,
.error {
    height: 300px;
}

.editing {
    border: 2px solid var(--inverted-secondary-color);
}
