.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    padding: 8px 18px;
    border: 2px solid var(--icon-redesigned);
    width: 100%;
}

.s {
    height: 32px;
}

.m {
    height: 38px;
}

.l {
    height: 44px;
}

.focused {
    border: 2px solid var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
        fill: var(--accent-redesigned);
    }
}

.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);
    background: none;

    &:focus {
        color: var(--hint-redesigned);
    }
}

.readonly {
    opacity: 0.7;
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonRight {
    padding-right: 8px;
}

.addonLeft,
.addonRight {
    display: flex;
}
